
@model IEnumerable<Product>


<div class="banner">
	<section class="carousel">
		<button class="slider-button slider-button-prev" data-slide-direction="prev">&#9001</button>
		<button class="slider-button slider-button-next" data-slide-direction="next">&#9002</button>
		<ul class="slides">
			<li class="slide" data-active-slide>
				<img src="~/img/banners/banner0.gif" alt="Nature Image #1"v/>
			</li>
			<li class="slide">
				<img src="~/img/banners/banner1.png" alt="Nature Image #2" />
			</li>
			<li class="slide">
				<img src="~/img/banners/banner2.png" alt="Nature Image #3" />
			</li>
			<li class="slide">
				<img src="~/img/banners/banner3.png" alt="Nature Image #4" />
			</li>
			<li class="slide">
				<img src="~/img/banners/banner4.png" alt="Nature Image #5" />
			</li>
			<li class="slide">
				<img src="~/img/banners/banner5.png" alt="Nature Image #6" />
			</li>
			<li class="slide">
				<img src="~/img/banners/banner6.png" alt="Nature Image #7" />
			</li>
			<li class="slide">
				<img src="~/img/banners/blackFriday.gif" alt="Nature Image #8" />
			</li>
		</ul>
		<div class="slides-circles">
			<div data-active-slide></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</section>
</div>
<img src="img/banners/blackFriday.gif" alt="" style="width: 100%; margin-top: 20px">

<br>
@*<div class="companyMenu group flexContain"></div>*@

<div class="flexContain">

	<div class="pricesRangeFilter dropdown">
		<button class="dropbtn">Giá tiền</button>
		<div class="dropdown-content"></div>
	</div>

	<div class="promosFilter dropdown">
		<button class="dropbtn">Khuyến mãi</button>
		<div class="dropdown-content"></div>
	</div>

	<div class="starFilter dropdown">
		<button class="dropbtn">Số lượng sao</button>
		<div class="dropdown-content"></div>
	</div>

	<div class="sortFilter dropdown">
		<button class="dropbtn">Sắp xếp</button>
		<div class="dropdown-content"></div>
	</div>

</div> <!-- End khung chọn bộ lọc -->

<div class="choosedFilter flexContain">
	<a id="deleteAllFilter" style="display: none;">
		<h3>Xóa bộ lọc</h3>
	</a>
</div> <!-- Những bộ lọc đã chọn -->
<hr>

<!-- Mặc định mới vào trang sẽ ẩn đi, nế có filter thì mới hiện lên -->
<div class="contain-products" style="display:none">
	<div class="filterName">
		<input type="text" placeholder="Lọc trong trang theo tên..." onkeyup="filterProductsName(this)">
	</div> <!-- End FilterName -->

	<ul id="products" class="homeproduct group flexContain">
		<div id="khongCoSanPham">
			<i class="fa fa-times-circle"></i>
			Không có sản phẩm nào
		</div> <!-- End Khong co san pham -->
	</ul><!-- End products -->

	<div class="pagination"></div>
</div>

<!-- Div hiển thị khung sp hot, khuyến mãi, mới ra mắt ... -->
<div class="contain-khungSanPham">
	<div class="khungSanPham" style="border-color: #ff9c00">
		<h3 class="tenKhung" style="background-image: linear-gradient(120deg, #ff9c00 0%, #ec1f1f 50%, #ff9c00 100%);">* NỔI BẬT NHẤT *</h3>
		<div class="listSpTrongKhung flexContain">

			@foreach(var item in Model)
			{

				<li class="sanPham">
					<a asp-controller="ProductDetails" asp-action="Details" asp-route-id="@item.Id">
						<img src="~/img/products/@item.Image" alt="">
						<h3>@Html.DisplayFor(model => item.Name)</h3>
						<div class="price">
							@Html.DisplayFor(model => item.Price)
						</div>
						<div class="ratingresult">
							<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><span>9999 đánh giá</span>
						</div>
						<div class="tooltip">
							<a class="themvaogio" asp-controller="Carts" asp-action="Add" asp-route-ProductId="@item.Id" asp-route-Quantity="1">
								<span class="tooltiptext" style="font-size: 15px;">Thêm vào giỏ</span>
								+
							</a>
						</div>
					</a>
				</li>
			}
		</div>
		<a class="xemTatCa" asp-controller="Products" asp-action="Index" style="border-left: 2px solid #ff9c00;
					border-right: 2px solid #ff9c00;">
			Xem tất cả sản phẩm
		</a>
	</div>
</div>